<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
    <div class="form_content">
    	<!-- <legend>Please Log In</legend> -->
        <div class="form_title">Login</div>

        <div class="form_item loginBox">
          <label for="name">Name</label><span>:</span>
          <%= text_field_tag :name, params[:name] %>
        </div>

        <div class="form_item loginBox">
          <label for="password">Password</label><span>:</span>
          <%= password_field_tag :password, params[:password] %>
        </div>

        <div class="choice">
        <div class="button loginButton">
          <%= submit_tag "Login" %>
        </div>

        <div class="button registerButton">
        	<input id="register" type="button" value="Register" />
        </div>
        </div>
    </div>
  <% end %>

</div>
