<h1><%= t('.Listing comments') %></h1>

<table>
  <tr>
    <th><%= t('.Title') %></th>
    <th><%= t('.Context') %></th>
    <th><%= t('.Products') %>t</th>
    <th><%= t('.Create at') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.title %></td>
    <td><%= comment.context %></td>
    <td><%= comment.product_id %></td>
    <td><%= comment.create_at %></td>
    <td><%= link_to t('.Show'), comment %></td>
    <td><%= link_to t('.Edit'), edit_comment_path(comment) %></td>
    <td><%= link_to t('.Destroy'), comment, :confirm => t('.sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.New Comment'), new_comment_path %>
