<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.Title') %></b>
  <%= @comment.title %>
</p>

<p>
  <b><%= t('.Context') %></b>
  <%= @comment.context %>
</p>

<p>
  <b><%= t('.Product') %></b>
  <%= @comment.product_id %>
</p>

<p>
  <b><%= t('.Create at') %></b>
  <%= @comment.create_at %>
</p>


<%= link_to t('.Edit'), edit_comment_path(@comment) %> |
<%= link_to t('.Back'), comments_path %>
