<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> <%= t('.prohibited this subcategory from being saved') %></h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('.name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t('.parent') %><br />
    <%= f.text_field :parent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
