<h1>Listing subcategories<span>(Subcategory:&nbsp;&nbsp;<%= @subcate%>)</span></h1>

<!--<%= params.inspect %>-->

<% @results.each do |product|%>
  <div class="entry">
    <div class="entry_pic">
      <%= link_to (image_tag(product.image_url)),{:controller => "products", :action => "show",:id => product.id } %>
    </div>
    <div>
      <h3><%= product.title %></h3>

      <%allcates = product.cate.split(";") %>
      <%for cate in allcates%>
        <%if cate != nil%>
          <%= link_to (cate), {:controller => "subcategories", :action => "index",:subcate => cate } %>
        <%end%>
      <%end%>	

      <br />

      <%= sanitize product.description %>
    </div>

    <div class="entry_info">
      <div class="price"><%= number_to_currency(product.price) %></div>
      <div class = "inventory">(<%= product.inventory%> left)</div>

      <% if session[:user_id] %>
        <!--使用button_to创建到create action的链接。现在我们利用它发送AJAX请求，
        我们在调用中添加一个:remote => true参数-->
        <%= button_to t('.add_html'), line_items_path(:product_id => product, :modify => "false"),
            :remote => true %>
      <% else %>
        <button class="need_to_login">Add to cart</button>
      <% end %>

    </div>
    <div class="price_line"> </div>
  </div>
<% end %>
