<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.Name') %></b>
  <%= @subcategory.name %>
</p>

<p>
  <b><%= t('.Parent') %></b>
  <%= @subcategory.parent %>
</p>


<%= link_to t('.Edit'), edit_subcategory_path(@subcategory) %> |
<%= link_to t('.Back'), subcategories_path %>
