<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subcategory.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @subcategory.parent %>
</p>


<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
