<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<h1>Welcome <%= @user.name %></h1>

<div>
  It's <%= Time.now %>
  We have <%= pluralize(@total_orders, "order") %>
</div>

<br />
<br />

<%= link_to "change the password", {:controller => "users", :action => "edit", :id => @user.id } %>
