<% if flash[:alert] %>
  <p id="notice"><%= flash[:alert] %></p>
<% end %>

<h1><%= t('.Welcome') %> <%= @user.name %></h1>

<div>
  <%= t('.It') %> <%= Time.now %>
  <%= t('.We have') %> <%= pluralize(@total_orders, t('.order') ) %>
</div>

<br />
<br />

<%= link_to t('.change the password'), {:controller => "users", :action => "edit", :id => @user.id } %>