<h1><%= t('.Editing user') %></h1>

<%= render 'form' %>

<br />
<br />

<% if User.find_by_id(session[:user_id]).name == "admin" %>
  <%= link_to t('.Show'), @user %> |
  <%= link_to t('.Back'), users_path %>
<% else %>
  <%= link_to t('.Back'), admin_path %>
<% end %>
