<h1>Listing orders</h1>

<% @orders.each do |order| %>
<table class="order_detail">
<tr class="imfo">
  <td height = "20" >Order ID:<%= order.id %></td>
  <td weight = "400">Created at: <%= order.created_at %></td>
    <% if order.shipped==0%>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    <% if User.find_by_id(session[:user_id]).name == "admin" && order.shipped == 0%>
        <td><%= link_to "Deliver", {:controller => "orders", :action => "ship", :id => order.id}%></td>
    <% end %>
    <% if User.find_by_id(session[:user_id]).name == "admin" && order.shipped == 1 %>
        <td class= "shipped">Delivered</td>
    <% end %>
</tr>
</table>

<table class="order_detail">
<tr>
    <th width = "100">User</th>
<th width = "120">Name</th>
<th width = "100">Address</th>
<th width = "100">Email</th>
<th width = "100">Pay Type</th>
</tr>


<tr class="alt_odd">
<% @users.each do |user| %>
  <%if order.user_id == user.id%>
    <td height = "20"><%= user.name %></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <%end%>
    <%end%>
</tr>
</table>

<table class="order_detail">
<tr>
<th width = "100">Product</th>
<th width = "120">Title</th>
<th width = "100">Price</th>
<th width = "100">Quantity</th>
<th width = "100">Total</th>
</tr>

<tr class="alt_odd">
<td height = "3" ></td>
<td></td>
<td></td>
<td></td>
<td ></td>
</tr>


<% @lineitems.each do |lineitem| %>
<tr class="<%= cycle('alt_odd', 'alt_even') %>" >
    <%if lineitem.order_id == order.id%>
           <% @products.each do |product| %>
                <%if product.id == lineitem.product_id%>
                    <td height = "100" weight = "80"><%= link_to (image_tag(product.image_url)),{:controller => "products", :action => "show",:id => product.id } %></td>
                    <td><%= product.title%></td>
                    <td><%= number_to_currency(product.price) %></td>
                    <td><%= lineitem.quantity %></td>
                    <td><%= number_to_currency(product.price*lineitem.quantity) %></td>
                <%end%>
            <%end%>
    <%end%>
</tr>
<% end %>

</table>

<br />
<br />
<br />
<% end %>

<p><%= will_paginate @orders %></p>
<%= link_to 'New Order', new_order_path %>

