<h1>Listing carts</h1>

<table class="cart_detail">
<tr>
<th colspan="2">Product</th>
<th width = "100">Price</th>
<th width = "100">Quantity</th>
<th width = "100">Total</th>
<th width = "100">button</th>
</tr>

<tr class="alt_odd">
<td height = "5" width = "120"></td>
<td width = "180"></td>
<td ></td>
<td ></td>
<td ></td>
<td ></td>

</tr>

<% for item in @cart.line_items %>
<tr class="<%= cycle('alt_even', 'alt_odd') %>" >
<td height = "100", weight = "80"><%= link_to (image_tag(item.product.image_url)),{:controller => "products", :action => "show",:id => item.product.id } %></td>
<td ><h3><%= item.product.title %></h3></td>
<td><%= number_to_currency(item.product.price) %></td>
<td><%= item.quantity %></td>
<td><%= number_to_currency(item.product.price*item.quantity) %></td>
<td><%= button_to 'delete', item, :method => :delete, :confirm => 'Are you sure?' %></td>
<td><%= button_to '+'%></td>
</tr>
<%end%>

<!--<%= link_to 'New Cart', new_cart_path %>-->
