<h1>Listing carts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
	<% for item in cart.line_items %>
  	<tr>
        <td><%= item.quantity %> &times; </td>
      	<td><%= item.product.title %></td>
      	<td class = "item_price"><%= number_to_currency(item.total_price)%></td>
      	<td><%= button_to 'delete', item, :method => :delete,
         :confirm => 'Are you sure?' %></td>
  </tr>
  <%end%>
<% end %>
</table>

<br />

<%= link_to 'New Cart', new_cart_path %>
