<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

    <br />
  <% end %>

  <div class="form_item">
    <%= f.label :title, t(".title") + ":" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="form_item">
    <%= f.label :description, t("description") + ":" %><br />
    <%= f.text_area :description, :rows => 6, :cols => 40 %>
  </div>
  <div class="form_item">
    <%= f.label :image_url, t(".image_url") + ":" %><br />
    <%= f.file_field :image_url %>
  </div>
  <div class="form_item">
    <%= f.label :price, t(".price") + ":" %><br />
    <%= f.text_field :price %>
  </div>
  <div class="form_item">
    <%= f.label :category_id, t(".category") + ":" %><br />
    <%= f.text_field :cate %>
  </div>
  <div class="form_item">
    <%= f.label :inventory, t(".inventory") + ":" %><br />
    <%= f.text_field :inventory %>
  </div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>
