<div class = "entry">
    <div class="entry_pic">
      <%= link_to (image_tag(@product.image_url)),{:controller => "products", :action => "show",:id => @product.id } %>
    </div>
    <div>
      <h3><%= @product.title %>&nbsp;&nbsp;&nbsp;<span>score:&nbsp;<%= @average %></span></h3>

      <div class=label>
        <%allcates = @product.cate.split(";") %>
        <%for cate in allcates%>
          <%if cate != nil%>
            <%= link_to (cate), {:controller => "subcategories", :action => "index",:subcate => cate } %>
          <%end%>
        <%end%>	
      </div>

      <%= sanitize @product.description %>
    </div>

    <div class="entry_info">

      <div class="price"><%= number_to_currency(@product.price) %></div>
      <div class = "inventory">(<%= @product.inventory%> left)</div>

      <% if session[:user_id] %>
        <!--使用创建到create action的链接。现在我们利用它发送AJAX请求，
        我们在调用中添加一个:remote => true参数-->
        <%= button_to t('.add_html'), line_items_path(:product_id => @product.id, :modify => "false"),
            :remote => true %>
      <% else %>
        <button class="need_to_login">Add to cart</button>
      <% end %>

    </div>
    <div class="price_line"> </div>
</div>

<div class = "comment">
  <%= t(".Comment") %>
</div>

<% if @comments.length == 0 %>
  <div><%= t('.NoComments')%></div>
<% end %>

<% @comments.each do |comment|%>
<table class="product_detail">
<tr>
    <th width = "50" height = "2"></th>
    <th width = "900" height = "2"></th>
</tr>
<tr class="alt_odd">
    <th>Title:</th>
    <th><%= comment.title %> </th>
</tr>
<tr class="alt_odd">
    <th>Context:</th>
    <th><%= comment.context %> </th>
</tr>
<tr class="alt_odd">
    <th>Score:</th>
    <th><%= comment.score %> </th>
</tr>
<tr class="alt_odd">
    <th>Time:</th>
    <th><%= comment.create_at %> </th>
</tr>    
<tr class="alt_odd">
    <th>Commenter:</th>
    <th><%= comment.userid %> </th>

</tr> 
</table>




<br/>
<% end %>

<% if session[:user_id] %>
<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>

<div class = "comment">
  <%= t(".Send Comment Of My Own") %>~!:)
</div>

<%= form_for @comment do |f| %>
<div class="field">
    <%= f.label t(".Title") + ":" %><br />
    <%= f.text_field :title, :size => 40%>
  </div>
  <div class="field">
    <%= f.label t(".Content") + ":" %><br />
    <%= f.text_area  :context,:rows => 3, :cols => 40 %>
    <%= @comment.title %>
  </div>
  <div class="field">
    <%= f.label t(".Score") + ":" %><br />
    <%= f.select :score, Comment::SCORE_TYPES, :prompt => "Select a score" %>
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[create_at]" id="comment_create_at" value=<%= Time.now %>/>
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[userid]" id="comment_userid" value=<%= @name %> >
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[product_id]" id="comment_product_id" value=<%= " #{ @product.id}" %>/>
    <%=submit_tag t(".Submit") %>
  </div>
<%end%>
<% end %>






<!--<%= params.inspect %>-->


