<div class = "entry">
    <%= link_to (image_tag(@product.image_url)),{:controller => "products", :action => "show",:id => @product.id } %>
    
    <h3> <%= @product.title %></h3>
    
    <%= sanitize @product.description %>
    <span class = "price"><%= number_to_currency(@product.price) %></span>
      <%= button_to t('.add_html'), line_items_path(:product_id => @product,:modify => "false"),
         :remote => true %>

    <div class = "price_line">      
    </div>
</div>

<div class = "comment">
Comments:
</div>
<% @comments.each do |comment|%>
<table class="product_detail">
<tr>
    <th width = "50" height = "2"></th>
    <th width = "900" height = "2"></th>
</tr>
<tr class="alt_odd">
    <th>Title:</th>
    <th><%= comment.title %> </th>
</tr>
<tr class="alt_odd">
    <th>Context:</th>
    <th><%= comment.context %> </th>
</tr>
<tr class="alt_odd">
    <th>Time:</th>
    <th><%= comment.create_at %> </th>
</tr>    
<tr class="alt_odd">
    <th>Commenter:</th>
    <th><%= comment.userid %> </th>

</tr> 
</table>




<br/>
<% end %>


<div class = "comment">
Send Comments Of My Own~!:)
</div>

<%= form_for @comment do |f| %>
<div class="field">
    <%= f.label "Title" %><br />
    <%= f.text_field :title, :size => 40%>
  </div>
  <div class="field">
    <%= f.label "Context" %><br />
    <%= f.text_area  :context,:rows => 3, :cols => 40 %>
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[create_at]" id="comment_create_at" value=<%= Time.now %>/>
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[userid]" id="comment_userid" value=<%= @name %> >
  </div>
  <div class="actions">
    <input type="hidden" name= "comment[product_id]" id="comment_product_id" value=<%= " #{ @product.id}" %>/>
    <%=submit_tag "Update" %>
  </div>
<%end%>






<!--<%= params.inspect %>-->


